<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/minty/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <% total = 0 %>
      <h1>Merci d'avoir passé votre commande chez Kitten Pixtore !</h1><br/>
      <h3>Votre numéro de commande est le <%= @user.order.id %>
      <% if @user.cart.items.length > 1 %>
        <h4>
          Voici les différents articles que vous avez achetés pour un total de : 
          <% total = 0 %>
          <% @user.cart.items.each {|item| total = total + item.price} %>
          <div class="btn btn-small btn-outline-info"><%= total.to_f %></div>
        </h4>
      <% else %>
        <h4>
          Voici l'article que vous avez acheté pour un total de :
          <div class="btn btn-small btn-outline-info"><%= @user.cart.items[0].price.to_f %></div>
        </h4>
      <% end %>
      <% @user.cart.items.each do |item| %>
        <div class="mb-2"><%= item.title %> : <%= item.price.to_f %></div>
        <img src= <%= item.image_url %> class="mb-5">
      <% end %>
      <p>
        Pour accéder à votre espace client, connectez-vous sur : <%= @url %>.
      </p>
      <h4>À très vite sur Kitten Pixtore !</h4>
    </div>
  </body>
</html>