
<div class="container">
  <div id="flash"></div>
  <h1 class="mb-5 mt-5 font-weight-bold" id="my-cart-title"><i class="fas fa-cart-plus mr-1"></i> Mon panier</h1>
  <div class="row">
      <div class="col-lg-12 col-sm-5">
          <div class="table-responsive">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th scope="col"></th>
                          <th scope="col">Produit</th>
                          <th scope="col">Prix de l'article</th>
                          <th scope="col">Quantité</th>
                          <th class="text-right">Supprimer</th>
                      </tr>
                  </thead>
                  <tbody>
                  <% @cart.items.each do |item| %> 
                      <tr class="font-weight-light" id="item-<%= item.id %>">
                          <td style="width: 5%"><%= link_to image_tag(item.image_url, height: "40px", width: "50px", class: "rounded"), item_path(item) %></td>
                          <td style="width: 25%" class="align-middle"><%= link_to item.title, item_path(item), class: "text-muted" %></td>
                          <td style="width: 15%" class="align-middle"><%= item.price %> €</td>
                          <td style="width: 3%" class="align-middle"><input type="number" value="1" min="1" max="1000" step="1" class="form-control text-center"></td>
                          <td class="text-right" class="align-middle">
                            <%= link_to cart_path(item), method: :delete, class: "btn btn-sm btn-danger mr-3", remote: true do %>
                              <i class="fa fa-trash align-middle"></i>
                            <% end %>
                          </td>
                      </tr>
                      <% end %>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-6 text-right">
        <p class="mr-3">Total : <strong id="total-order"><%= @cart.total_price %></strong><strong> €</strong><p>
      </div>
      <div class="col-lg-12 col-sm-6 mt-3">
        <%= form_tag orders_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @amount %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Finaliser la commande"
          data-amount="<%= @amount %>"
          data-locale="auto"
          data-email="<%=current_user.email%>"
          data-currency="eur"
          data-label="Finaliser la commander"
          data-locale="fr"></script>
<% end %>
        <%= link_to "Commander", orders_path, method: :post, class:"btn btn-success font-weight-bold float-right" %>
        <%= link_to "Continuer les achats", root_path, class: "btn btn-light mb-3 mr-3 float-right" %>
      </div>
  </div>
</div>
