<div class="col-lg-4 col-sm-6 col-md-6 p-5">
  <div class="card">
    <div class="card-img"><%= link_to image_tag(item.image_url, height: "190px", width: "100%"), item_path(item) %></div>
    <div class="card-body">
      <h4 class="card-title font-weight-bold text-dark"><%= item.title %></h4>
      <div class="badge badge-pill badge-light"><%= item.price %> €</div>
      <div class="btn-group btn-group-toggle mt-3" data-toggle="buttons">
        <%= link_to "+ d'infos", item_path(item), class: "btn btn-outline-success btn-sm" %>
        <%= link_to "Ajouter au panier", cart_path(item), method: :put, class: "btn btn-success font-weight-bold btn-sm" %>
      </div>
    </div>
  </div>
</div>